body{
  background-image: url(../img/KMClogo_mini.png);
  background-size: 160px;
  background-color: rgb(135, 206, 235);
  -moz-animation: background-animation 3s ease 0s infinite alternate;
  -webkit-animation: background-animation 3s ease 0s infinite alternate;
  -ms-animation: background-animation 3s ease 0s infinite alternate;
}

@-moz-keyframes background-animation {
  0% {
    background-color: rgb(135, 206, 235);
    background-position: 0 0;
  }
  50% { background-color: rgb(149, 235, 135); }
  100% {
    background-color: rgb(175, 96, 135);
    background-position: 160px 102px;
  }
}
@-webkit-keyframes background-animation {
  0% {
    background-color: rgb(135, 206, 235);
    background-position: 0 0;
  }
  50% { background-color: rgb(149, 235, 135); }
  100% {
    background-color: rgb(175, 96, 135);
    background-position: 160px 102px;
  }
}
@-ms-keyframes background-animation {
  0% {
    background-color: rgb(135, 206, 235);
    background-position: 0 0;
  }
  50% { background-color: rgb(149, 235, 135); }
  100% {
    background-color: rgb(175, 96, 135);
    background-position: 160px 102px;
  }
}

#github img {
  z-index: 100;
}

#kmc_mouse {
  position: absolute;
  user-select: none
}

#history {
  border: 0 solid #000;
  margin: 0 0 0 0;
  width: 300px;
  background: #F7F7E7;
}
#history-title {
  -moz-animation: blink 0.7s steps(5, start) infinite;
  -webkit-animation: blink 0.7s steps(5, start) infinite;
  -ms-animation: blink 0.7s steps(5, start) infinite;
  margin: 0 0 0 0;
  border: 0;
}
@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-ms-keyframes blink {
  to {
    visibility: hidden;
  }
}
.history-new {
  color: red;
  background: yellow;
  margin: 0 5px 0 0;
}
.history-new:after {
  content: "new!";
  font-weight: bold;
  -moz-animation: blink 0.7s steps(5, start) infinite;
  -webkit-animation: blink 0.7s steps(5, start) infinite;
  -ms-animation: blink 0.7s steps(5, start) infinite;
}
.banner {
  -moz-animation: blink 1.2s steps(5, start) infinite;
  -webkit-animation: blink 1.2s steps(5, start) infinite;
  -ms-animation: blink 1.2s steps(5, start) infinite;
}

#welcome-kmc {
  height: 309px;
  margin: 0 0 10px 0;
}
#welcome-kmc img {
  -moz-animation: logo-animation 1s ease 0s infinite alternate;
  -webkit-animation: logo-animation 1s ease 0s infinite alternate;
  -ms-animation: logo-animation 1s ease 0s infinite alternate;
}
@-moz-keyframes logo-animation {
  0% { width: 756px; height: 189px; }
  100% { width: 1056px; height: 309px; }
}
@-webkit-keyframes logo-animation {
  0% { width: 756px; height: 189px; }
  100% { width: 1056px; height: 309px; }
}
@-ms-keyframes logo-animation {
  0% { width: 756px; height: 189px; }
  100% { width: 1056px; height: 309px; }
}
